{% extends "coderedcms/pages/web_page_notitle.html" %}

<div class="container my-5" style="margin-top:  10px !important;">
    <div class="div text-center align-items-center justify-content-center"> <span class="text-center font-weight-bold" style="font-size: 32px; font-weight: 550;">Selamat datang di Portal My BCA Syariah</span></div>
    <form class="d-flex ms-auto" role="search" action="{% url 'crx_search' %}" method="GET">
        <div class="input-group input-group-lg">
          
            <input type="text" class="form-control" aria-label="Sizing example input" name="s" aria-describedby="inputGroup-sizing-lg">
          </div>
        <button class="btn btn-primary ms-2 rounded" type="submit">Cari</button>
      </form>
</div>