{% extends "coderedcms/pages/web_page_notitle.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content_pre_body %}
{% if self.cover_image %}
{% image page.cover_image fill-1600x900 format-webp as cover_image %}
<div class="hero-bg mb-5" style="background-image:url({{cover_image.url}});">
  <div class="hero-fg">
    <div class="container">
      {% if request.path ==  "/" %}
      <div class="kosong"></div>
      {% else %}
      <h1>{{page.title}}</h1>
      {% endif %}
    </div>
  </div>
</div>
{% else %}
<div class="container my-5" >
      {% if request.path ==  "/" %}
      {% else %}
      <h1>{{page.title}}</h1>
      {% endif %}
</div>
{% endif %}


{% if request.path ==  "/" %}

<div class="container my-5" style="margin-top:  -62px !important;">
  <div class="div text-center align-items-center justify-content-center"> <span class="text-center font-weight-bold" style="font-size: 32px; font-weight: 550;">Selamat datang di Portal My BCA Syariah</span></div>
  <form class="d-flex ms-auto" role="search" action="{% url 'crx_search' %}" method="GET">
      <div class="input-group input-group-lg rounded">
        
          <input type="text" class="form-control rounded" aria-label="Sizing example input" name="s" aria-describedby="inputGroup-sizing-lg" style="border-radius: 20px !important;" placeholder="cari disini"hint="Cari ">
        </div>
      <button class="btn btn-primary ms-2 rounded" style="border-radius: 15px !important;"type="submit">Cari</button>
    </form>
</div>
<div class="container">
  
      <div class="row">
        {% for page in latest_pages %}
        <div class="col-md-4 mt-1">
          <a href="{{ page.url }}">
          <div class="card bg-primary" style="padding: 0 !important; margin: 0 !important; border-radius: 20px !important;">
            <div class="div bg-white" style="border:0;border-radius: 20px">
              <img class="card-img-top"  src="{% static 'pdf-1.png' %}" alt="Card image cap">
            </div>
            <div class="card-body "  style="border-radius: 20px">
              <p class="card-title text-white font-weight-bold" style="font-weight: 900 !important;">{{ page.title }}</p>
              <p class="card-text text-white">Tanggal : {{ page.first_published_at }}  </p>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      
       
       
      </div>
</div>
{% else %}

{% endif %}

{% endblock %}

